/LuffarServer/nbproject/private/
/LuffarKlient/nbproject/private/
/LuffarServer/build/
/LuffarKlient/build/
/LuffarKlient/dist/
/LuffarK/build/
/JavaFXGraphTest/nbproject/private/
/JavaFXGraphTest/build/
/JavaFXGraphTest/dist/